{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Register{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h1>Register</h1>
        <form role="form" method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field.errors }}
              {{ field|add_class:"form-control" }}
            </div>
          {% endfor %}
        <button class="btn btn-large btn-primary" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
