{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Sign In{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>Sign In</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <form role="form" method="post">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              {{ field.errors }}
              {{ field|add_class:"form-control" }}
            </div>
          {% endfor %}
          <button class="btn btn-large btn-primary" type="submit">Sign In</button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <p>Do not have an account? <a href="/register/">Register now</a></p>
      </div>
    </div>
  </div>
{% endblock %}
