{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Benchmarks{% endblock %}

{% block html_attributes %}ng-app="benguruApp"{% endblock %}

{% block content %}
    <div class="container">
        <div ng-view></div>
    </div>
{% endblock %}

{% block css %}
    <link href="{% static 'benchmarks/css/ng-table.css' %}" rel="stylesheet">
    <link href="{% static 'benchmarks/css/benchmarks.css' %}" rel="stylesheet">
{% endblock %}

{% block js_body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.1/jquery.flot.min.js"></script>
    <script src="{% static 'benchmarks/lib/bootstrap-multiselect.js' %}"></script>
    <!-- AngularJS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="{% static 'benchmarks/js/services.js' %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
    <script src="{% static 'benchmarks/lib/ng-table.js' %}"></script>
    <script src="{% static 'benchmarks/js/controllers.js' %}"></script>
    <script src="{% static 'benchmarks/js/app.js' %}"></script>
    <!--[if lt IE 9]>
        <script src="{% static 'benchmarks/lib/excanvas.min.js' %}"></script>
    <![endif]-->
{% endblock %}
