{% extends "base.html" %}
{% load staticfiles widget_tweaks %}

{% block title %}Submit{% endblock %}

{% block active_submit %}active{% endblock %}

{% block js_body %}
  <script src="{% static 'benchmarks/js/submit.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Submit</h1>
    {% if user.is_authenticated %}
      {% if messages %}
        <div class="row">
          <div class="col-md-4">
            <ul class="message">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}

      <div class="row">
        <div class="col-md-4">
          <div class="btn-group">
            <div class="input-group">
              <label class="control-label">Choose method:</label>
              <select id="select-method" class="form-control">
                <option>Insert benchmark results</option>
                <!--<option>Upload benchmark results</option>-->
              </select>
            </div>
          </div>
        </div>
      </div>

      <div id="Insert">
        <form role="form" method="post" id="inputForm">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-4">
              {% for field in benchmark_form %}
                <div class="form-group">
                  {{ field.label_tag }}
                  {{ field|add_class:"form-control" }}
                  <p class="help-block">{{ field.errors }}</p>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h2>Custom fields</h2>
            </div>
          </div>
          {{ fields_form.management_form }}
          <div id="fields">
            {% for field in fields_form %}
              <div id="field-0" class="row">
                {% for value in field %}
                  <div class="col-md-3">
                    <div class="form-group">
                      {% if value.label != 'Id' %}
                        {{ value.label_tag }}
                      {% endif %}
                      {{ value|add_class:"form-control" }}
                      <p class="help-block">{{ value.errors }}</p>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-md-3">
              <button id="add-field" class="btn btn-default" type="button">Add Field</button>
              <button class="btn btn-large btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>

      <div id="Upload" class="row">
        <div class="col-md-4">
          <form role="form" method="post" id="uploadForm" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in upload_form %}
              <div class="form-group">
                {{ field.label_tag }}
                {{ field|add_class:"form-control" }}
                {{ field.errors }}
              </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    {% else %}
      {% include 'users/signin_message.html' %}
    {% endif %}
  </div>
{% endblock %}
