<h1>Benchmarks</h1>

<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <input type="text" ng-model="tableBenchmarks.filter" class="form-control" placeholder="Filter">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="overflow: auto;">
        <table id="benchmark-table" ng-table="tableBenchmarks" show-filter="false" class="table">
            <tr ng-repeat="benchmark in benchmarks">
                <td filter="{'checked': 'checkbox'}" style="text-align: left;">
                    <input type="checkbox" ng-model="checkboxes.items[benchmark.id]"/>
                </td>
                <td data-title="'Title'" sortable="title">
                    {{ benchmark.title }}
                </td>
                <td data-title="'Date'" sortable="date">
                    {{ benchmark.date | date:'short' }}
                </td>
                <td data-title="'Tags'" ng-bind-html-unsafe="benchmark.tags | tag"></td>
                <td data-title="'Type'" sortable="transaction_type">
                    {{ benchmark.transaction_type }}
                </td>
                <td data-title="'Scaling'" sortable="scaling_factor">
                    {{ benchmark.scaling_factor }}
                </td>
                <td data-title="'Threads'" sortable="threads">
                    {{ benchmark.threads }}
                </td>
                <td data-title="'Clients'" sortable="clients">
                    {{ benchmark.clients }}
                </td>
                <td data-title="'Trans. / Client'" sortable="transactions_per_client">
                    {{ benchmark.transactions_per_client }}
                </td>
                <td data-title="'Trans. process.'" sortable="transactions_processed">
                    {{ benchmark.transactions_processed }}
                </td>
                <td data-title="'TPS'" sortable="tps_excluding">
                    {{ benchmark.tps_excluding }}
                </td>
                <td data-title="'TPS (conn.)'" sortable="tps_including">
                    {{ benchmark.tps_including }}
                </td>
                <td data-title="'User'" sortable="username">
                    {{ benchmark.user.username }}
                </td>
                <td ng-repeat="key in filtered_fields" data-title="'{{ key }}'">
                    {{ benchmark.field_set | field_value:key }}
                </td>
            </tr>
        </table>
        <script type="text/ng-template" id="ng-table/filters/checkbox.html">
            <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value=""/>
        </script>
    </div>
</div>
<h2>Analysis</h2>
<div class="row">
    <div class="col-md-12">
        <div ng-switch on="checkboxes.num_checked">
            <div ng-switch-when="0">
                <p>No benchmark selected. Select benchmarks for visual comparison.</p>
            </div>
            <div ng-switch-default>
                <p><b>Selected benchmarks:</b> {{ checkboxes.num_checked }}</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="attribute-x" class="control-label">Attribute on x-axis:</label>
            <select id="attribute-x" ng-model="attribute_x" ng-options="a.label for a in attributes_x" class="multiselect form-input" multiselect-dropdown>
                <option value=''>None selected</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="attribute-y" class="control-label">Attribute(s) on y-axis:</label>
            <select id="attribute-y" ng-model="attribute_y" ng-options="a.label for a in attributes_y" class="multiselect form-input" multiple="multiple" multiselect-dropdown></select>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 20px; margin-bottom: 50px;">
    <div class="col-md-12">
        <div id="plot_placeholder"></div>
    </div>
</div>


<div id="bookmark-button" class="row">
    <div class="col-md-12">
        <button type="button" ng-click="show_bookmark_form()" class="btn btn-primary btn-lg">Add Bookmark</button>
    </div>
</div>
<div id="bookmark-form" class="row" style="display: none;">
    <div class="col-md-5">
        <form novalidate class="form-group">
            <div class="form-group">
                <label for="bookmarkTitle">Title</label>
                <input type="text" class="form-control" id="bookmarkTitle" placeholder="" ng-model="bookmark.title">
            </div>
            <div class="form-group">
                <label for="bookmarkDescription">Description</label>
                <textarea class="form-control" id="bookmarkDescription" placeholder="" ng-model="bookmark.description" rows="5"></textarea>
            </div>
            <button ng-click="add_bookmark()" class="btn btn-default">Submit</button>
        </form>

        <div class="alert alert-danger" ng-show="error_message != ''">{{ error_message }}</div>
        <div class="alert alert-success" ng-show="success_message != ''">{{ success_message }}</div>
    </div>
</div>

<div class='row' style='margin-top: 50px; margin-bottom: 50px;'>
    <div class='col-md-12'>
        <div id="disqus_thread"></div>
    </div>
</div>
