<h1>Bookmarks</h1>

<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <input type="text" ng-model="tableBookmarks.filter" class="form-control" placeholder="Filter">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table ng-table="tableBookmarks" show-filter="false" class="table">
            <tr ng-repeat="bookmark in bookmarks">
                <td data-title="'Date'" sortable="date" style="width: 140px;">
                    {{ bookmark.date | date:'short' }}
                </td>
                <td data-title="'User'" sortable="user.username" style="width: 140px;">
                    {{ bookmark.user.username }}
                </td>
                <td data-title="'Title'" sortable="title" style="width: 260px;">
                    <a href="/benchmarks/#/{{ bookmark.id }}/">{{ bookmark.title }}</a>
                </td>
                <td data-title="'Description'">
                    {{ bookmark.description }}
                </td>
            </tr>
        </table>
    </div>
</div>
