{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block active_home %}active{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Benguru</h1>

            <p>Benguru stores and catalogues benchmark results. It provides search and retrieval with some basic
                graphical analysis.</p>

            <p>Developed by AXLE project&mdash;Advanced Analytics for Extremely Large European Databases.</p>

            <p><a href='http://axleproject.eu/' class="btn btn-primary btn-lg">Learn about AXLE &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Welcome</h1>

                <p>Start with <a href="/learn/">tutorial</a> to learn about benchmark analysis or jump to the <a href="/benchmarks/#/2/">bookmarked benchmark preview</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="{% static 'main/img/front.png' %}" width="800px">
            </div>
        </div>
    </div>
{% endblock %}
