{% extends "base.html" %} {% load staticfiles %} {% block title %}API{% endblock %} {% block active_api %}
    active{% endblock %} {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12"><h1>Learn</h1>
                <ul>
                    <li><a href="#tutorial">Tutorial</a></li>
                    <li><a href="#submit">Submit Benchmarks</a></li>
                    <ul>
                        <li><a href="#submituser">Submit Page</a></li>
                        <li><a href="#api">RESTful API</a></li>
                    </ul>
                </ul>
                <a name="tutorial"></a>

                <h2>Tutorial</h2>

                <p>We will show how to discover patterns in the <a href="/benchmarks">benchmark analysis view</a>. For
                    instructions on how to submit your benchmarks to the platform visit the <a href="#api">API
                        section</a>. Start your analysis with filtering the benchmarks you wish to visualize. Benguru
                    supports full-text search over regular and custom fields. </p></div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center"><img src="{% static 'main/img/filter-web.png' %}" width="800px"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Select the data instances you wish to visualize and order them. They will be
                    plotted in the same order as they appear in the table. Notice that we reversed the order of the
                    <i>Date</i> column.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="{% static 'main/img/select-sort-web.png' %}" width="800px">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Finally select the attributes you wish to visualize. You can select multiple
                    attributes on the y-axis.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <img src="{% static 'main/img/analysis-web.png' %}" width="800px">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>In this toy example we can observe how memory tweaks helped us reduce the number of transactions per
                    second. We can also spot small improvement in performance in <i>Memory Tewaks #4</i> but at the
                    expense of huge memory cost.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <a name="submit"></a>

                <h2>Submit Benchmarks</h2>

                <p>Authorized users can submit benchmark data through web form and <a href="/api/">RESTful API</a>.
                    <a href="/register/">Register</a> and wait for administrator's approval. We will notify you by
                    email.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <a name="submituser"></a>

                <h3>Submit Page</h3>

                <p>Submit you benchmark through the web form on the <a href="/submit/">submit page</a>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <a name="api"></a>

                <h3>RESTful API</h3>

                <p>RESTful API supports <code>GET</code> and <code>POST</code> requests of json data to the following
                    url:</p>

                <pre>http://benguru.fri.uni-lj.si/api/v1/benchmark/</pre>

                <h4>Examples</h4>

                <p>GET benchmark results:</p>

                <pre>curl --dump-header - -u "username:password" http://benguru.fri.uni-lj.si/api/v1/benchmark/</pre>

                <p>POST a benchmark result:</p>

        <pre>curl --dump-header - -H "Content-Type: application/json" -u "username:password" -X POST --data '{
  "user": "/api/v1/user/username/",
  "title": "Test Benchmark",
  "date": "2013-08-25T11:10:04",
  "tags": "tag1;tag2",
  "transaction_type": "TPC-B",
  "scaling_factor": 10,
  "threads": 1,
  "clients": 10,
  "transactions_per_client": 1000,
  "transactions_processed": 10000,
  "tps_including": 85.184871,
  "tps_excluding": 85.296346,
  "fields": [{
    "name": "Description",
    "type": "STR",
    "value": "First test benchmark."
  }, {
    "name": "Boot time",
    "type": "NUM",
    "value": "66.57"
  }]}' http://benguru.fri.uni-lj.si/api/v1/benchmark/</pre>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}
