{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>&nbsp;</h1>

      <p>
        {% if user.is_authenticated %}
          Your registration is waiting for administrator's approval.
        {% else %}
          Please <a href="/signin/?next={{ request.path }}">Sign in</a> before continuing.
        {% endif %}
      </p>
    </div>
  </div>
{% endblock %}
