{% extends "base.html" %}

{% block title %}Page not found{% endblock %}

{% block content %}
  <div class="jumbotron">
    <div class="container">
      <h1>404</h1>

      <p>The page you are looking for does not exist.</p>
    </div>
  </div>
{% endblock %}
