<!DOCTYPE html>
<html lang="en">
<head>
    <title>Server Error &middot; Benguru</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'main/css/main.css' %}" rel="stylesheet">
</head>
<body>
    <div id="wrap">
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Benguru</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class=""><a href="/">Home</a></li>
                        <li class=""><a href="/submit"><i class="icon-plus icon-white"></i>&nbsp;Submit measurement</a>
                        </li>
                        <li class=""><a href="/search"><i class="icon-search icon-white"></i>&nbsp;Search</a></li>
                        <li class=""><a href="/analyze"><i class="icon-th-list icon-white"></i>&nbsp;Analyze</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/signin">Sign In</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1>500</h1>

                <p>A server error occurred. Please contact the administrator.</p>
            </div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div id="footer">
        <div class="container">
            <p>
                <a href='http://axleproject.eu/'>AXLE Project</a>
            </p>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
    <![endif]-->
</body>
</html>
