<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" {% block html_attributes %}{% endblock %}>
<head>
    <title>{% block title %}Home{% endblock %} &middot; Benguru</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'main/css/main.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
    {% block js_head %}{% endblock %}
</head>
<body {% block body_attributes %}{% endblock %}>
    <div id="wrap">
        <!-- Fixed navbar -->
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Benguru</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="{% block active_submit %}{% endblock %}">
                            <a href="/submit/"><i class="icon-plus icon-white"></i>&nbsp;Submit
                                benchmark</a></li>
                        <li id="benchmarks-list-item" class="{% block active_search %}{% endblock %}">
                            <a href="/benchmarks/#/"><i class="icon-search icon-white"></i>&nbsp;Benchmarks</a></li>
                        <li id="bookmarks-list-item" class="{% block active_bookmarks %}{% endblock %}">
                            <a href="/benchmarks/#/book/"><i class="icon-search icon-white"></i>&nbsp;Bookmarks</a></li>
                        <li class="{% block active_api %}{% endblock %}">
                            <a href="/learn/"><i class="icon-search icon-white"></i>&nbsp;Learn</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a class="nav-message">Hello, {{ user.username | capfirst }}</a></li>
                            {% if user.is_superuser %}
                                <li><a href="/admin/">Administer</a></li>
                            {% endif %}
                            <li><a href="/signout/"><i class="icon-off icon-white"></i>&nbsp;Sign Out</a></li>
                        {% else %}
                            <li><a href="/signin/">Sign In</a></li>
                            <li><a href="/register/">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>

        {% block content %}{% endblock %}
    </div>
    <p>&nbsp;</p>
    <div id="footer">
        <div class="container">
            <p>
                <a href='http://axleproject.eu/'>AXLE Project</a> &middot;
                <a href='https://bitbucket.org/biolab/benguru'>Code
                    on Bitbucket</a>
            </p>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.js"></script>
    <![endif]-->
    {% block js_body %}{% endblock %}
</body>
</html>
