html, body {
    height: 100%;
}

body {
    padding-top: 50px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -130px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
    margin-top: 50px;
    padding-top: 20px;
}

.row {
    margin-bottom: 10px;
}

.navbar-brand:hover {
    color: #999999 !important;
}
